
<!doctype html>
<html lang="en">
<meta charset="UTF-8">
<head>
	<!-- Safe Software, 2013 -->
	<!-- http://www.safe.com -->

	<title>D3 viz works?</title>
	
	<script src="http://d3js.org/d3.v3.min.js"></script>
	<script src="http://d3js.org/topojson.v1.min.js"></script>


	<!-- Generic -->
	<link rel="stylesheet" href="style.css">
	

</head>

<body>

	<h1>Coordinates marked on the map of the USA</h1>


	<script>

	var temp = tmp.value;
	console.log(temp + " is a value.");

	</script>

</body>

</html>