
<!doctype html>
<html lang="en">
<meta charset="UTF-8">
<head>
<title>D3 viz works?</title>
<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="http://d3js.org/topojson.v1.min.js"></script>
<link rel="stylesheet" href="/stylesheets/style.css">

</head>
<body>
<h1>Coordinates marked on the map of the USA</h1>
<script type="text/javascript" src = "/javascripts/viz.js"></script>
</body>
</html>