<!doctype html>
<html lang="en">
<meta charset="UTF-8">

<head>
<title>Twitter visualization with D3</title>
<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="http://d3js.org/d3.geo.projection.v0.min.js"></script>
<script src="http://d3js.org/topojson.v1.min.js"></script>
<link rel="stylesheet" href="/stylesheets/style.css">

</head>
<body>
<h1>Coordinates of live Tweets on the world map</h1>
<!-- <script type="text/javascript" src = "/javascripts/usamap.json"></script> -->
<script type="text/javascript" src = "/javascripts/temp.js"></script>
<script type="text/javascript" src = "/javascripts/viz.js"></script>

</body>
</html>