body {
   background-color: white; 
   margin: 0 auto;
   width: 100%;
   font-family: Consolas, sans-serif;
   font-size: 1.5em;
   color: #454545;
   font-weight: bold;
   text-align: center;
}

svg {
   stroke-width: 1.8px;
   stroke: #CFCFCF;
   fill: #F0F0F0;
}

circle {
   /* fill: #FF8533; bright orange */
   fill: #eeff44;
   stroke-width: 0.2px;
   stroke: #d3d3d3;
   opacity: .3;

}

.locations :hover {
opacity: 1; 
stroke: #000;
stroke-width: 0.5px;
fill: #ffdd44;

}

.graticule {
   /* this is for the grid structure */
   fill: none;
   stroke: #777;
   
   stroke-opacity: .2;
   stroke-width: .5px;
}

.land {
   /* fill: #222; */
   fill: #4477aa;  /*lightish blue */
   

}

.boundary {
   fill: none;
   stroke: #444;
   stroke-width: .2px;
}


